.main {
  align-items: center;
  background-color: var(--default-background-color);
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 500;
  gap: 2rem;
  height: 100dvh;
  justify-content: center;
  width: 100%;
}

.main__logo {
  display: flex;
  gap: 0.4rem;
  position: absolute;
  top: 6%;
}

.logo__container {
  text-align: center;
  color: var(--default-text-color);
}

.logo__container h1 {
  font-size: 2rem;
  font-weight: 700;
}

.logo__container h2 {
  font-size: 0.68rem;
  font-weight: 700;
}